@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900 min-h-screen;
}

.font-geez {
  font-family: 'Noto Sans Ethiopic', sans-serif;
}

.verse-number {
  font-weight: 700;
  font-size: 0.7em;
  color: #6b7280;
  margin-right: 2px;
  vertical-align: super;
  line-height: 0;
}

